header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  &.zh {
    .language-select {
      min-width: 56px;
      font-weight: 400;
    }
    .header-nav-menu-link {
      font-weight: 400 !important;
    }
    @media (max-width: 750px) {
      .language-select {
        padding: 0;
      }
      .header-nav-menu-link {
        font-size: 12px !important;
        font-weight: 400 !important;
      }
    }
  }
  .header-social-media {
    background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 1),
      rgba(50, 50, 50, 1)
    );
    color: #e0e0e0; // 柔和的淺灰色
    height: 45px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between; // 左右分佈
    padding: 0 8vw;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    @media (max-width: 750px) {
      height: 30px;
      padding: 0;
    }
    .header-social-media-title {
      font-size: 14px;
      color: #e0e0e0;
    }
  }
  .header-nav {
    background-color: #fff;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between; // 左右分佈
    padding: 0 8vw;
    @media (max-width: 750px) {
      padding: 0 3vw;
      height: 60px;
    }
    .header-title {
      font-size: 24px;
      color: #000;
      font-weight: 800;
      letter-spacing: 2px;
      @media (max-width: 750px) {
        font-size: 20px;
      }
      &:hover {
        color: #8d6e63;
      }
    }
    .header-nav-menu {
      display: flex;
      gap: 15px;
    }
    .header-nav-menu-link {
      font-size: 16px;
      font-weight: 800;
      color: #000;
      text-decoration: none;
      padding: 8px 12px;
      transition:
        background-color 0.3s ease,
        transform 0.2s ease;
      @media (max-width: 750px) {
        font-size: 14px;
        padding: 0px 4px;
      }
      &:hover {
        color: #8d6e63;
        transform: scale(1.4); // 輕微放大效果
      }
    }
    .header-nav-menu-active {
      color: #a87e6e;
    }
  }
}
.language-dropdown {
  position: relative;
  display: inline-block;
}

.language-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #fff;
  background-color: transparent;
  border: 1px solid #444;
  padding: 6px 30px 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  min-width: 90px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="12" viewBox="0 0 24 24" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  transition:
    border-color 0.2s,
    color 0.2s;
  @media (max-width: 750px) {
    padding: 3px 26px 3px 12px;
    min-width: 80px;
  }
  &:hover {
    border-color: #69524a;
    color: #fff;
  }

  option {
    color: #000;
  }
}
